<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>
  </head>
  <div class="lds-ring" *ngIf="this.loading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <body *ngIf="!this.loading">
    <div class="gr-header">
      <div class="d-flex flex-row" style="direction: rtl">
        <!-- <div class="d-flex flex-row">
          <div style="margin-left: 20%">
            <img
              src="assets/images/person.svg"
              style="color: red"
              alt=""
              srcset=""
            />
          </div>

          <div style="margin-left: 20px">
            <img
              src="assets/images/notifications.svg"
              style="color: red"
              alt=""
              srcset=""
            />
          </div>
        </div> -->
        <div style="display: flex; align-items: center">
          <div style="color: antiquewhite; font-size: 28px">
            {{ this.student!.fullName }}
          </div>

          <div class="dropdown">
            <div class="dropbtn"><i class="bi bi-list"></i></div>
            <div class="dropdown-content">
              <a
                [routerLink]="['/main-practice-page']"
                dir="rtl"
                routerLinkActive="router-link-active"
              >
                الرئيسية
              </a>
              <a
                [routerLink]="['/students']"
                dir="rtl"
                routerLinkActive="router-link-active"
                class="selected-btn"
              >
                الطلاب
              </a>
              <a
                [routerLink]="['/coaches/list']"
                dir="rtl"
                routerLinkActive="router-link-active"
                >المدربين
              </a>
              <a
                [routerLink]="['/practice-groups']"
                dir="rtl"
                routerLinkActive="router-link-active"
              >
                مجموعات التدريب
              </a>
              <a
                [routerLink]="['/dates']"
                dir="rtl"
                routerLinkActive="router-link-active"
                >المواعيد
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gr-menu">
      <div style="height: 40px; width: 40px">
        <img
          src="assets/images/back-icon.svg"
          (click)="goback()"
          alt=""
          srcset=""
          onmouseover="this.style.cursor='pointer'"
        />
      </div>
      <a
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        style="text-decoration: none"
      >
        <div style="display: flex; flex-direction: column; align-items: center">
          <img
            src="../../../assets/images/logo.png"
            width="125px"
            height="auto"
            alt=""
            srcset=""
          />
          <div style="color: antiquewhite; font-size: 17px">
            المسابقة البرمجية السورية
          </div>
          <div style="color: dimgrey; font-size: 13px">
            Syrian Programming Contest
          </div>
        </div></a
      >
      <div class="bt-gr">
        <a
          [routerLink]="['/main-practice-page']"
          routerLinkActive="router-link-active"
        >
          <div
            class="col btn btn-rounded btn0"
            style="text-align: end; width: 100%"
          >
            الرئيسية
          </div>
        </a>
        <a [routerLink]="['/students']" routerLinkActive="router-link-active">
          <div
            class="col btn btn-rounded selected-btn"
            style="text-align: end; width: 100%"
          >
            الطلاب
          </div>
        </a>
        <a
          [routerLink]="['/coaches/list']"
          routerLinkActive="router-link-active"
        >
          <div
            class="col btn btn-rounded btn2"
            style="text-align: end; width: 100%"
          >
            المدربين
          </div></a
        >
        <a
          [routerLink]="['/practice-groups']"
          routerLinkActive="router-link-active"
        >
          <div
            class="col btn btn-rounded btn3"
            style="text-align: end; width: 100%"
          >
            مجموعات التدريب
          </div></a
        >
        <a [routerLink]="['/dates']" routerLinkActive="router-link-active">
          <div
            class="col btn btn-rounded btn4"
            style="text-align: end; width: 100%"
          >
            المواعيد
          </div></a
        >
      </div>
    </div>
    <div class="gr-main">
      <div class="card profile-card-2">
        <div class="card-img-block">
          <img
            class="img-fluid"
            src="https://images.pexels.com/photos/946351/pexels-photo-946351.jpeg?w=500&h=650&auto=compress&cs=tinysrgb"
            width="100%"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <label class="hoverable" for="fileInput">
            <img
              [src]="this.student?.profilePhoto"
              alt="profile-image"
              class="profile"
              *ngIf="this.student?.profilePhoto != null"
            />
            <img
              src="../../../assets/images/person.svg"
              alt="profile-image"
              class="profile"
              *ngIf="this.student?.profilePhoto == null"
            />
            <div class="hover-text" *ngIf="this.student?.id == this.loggedinId">
              <i
                class="bi bi-camera-fill"
                style="color: grey; font-size: 18px"
              ></i>
            </div>
            <div
              class="background profile"
              *ngIf="this.student?.id == this.loggedinId"
            ></div>
          </label>
          <input
            id="fileInput"
            type="file"
            (change)="onSelectFile($event)"
            *ngIf="this.student?.id == this.loggedinId"
          />

          <div class="card2">
            <div
              style="display: flex; flex-direction: column; align-items: start"
            >
              <div class="name-part">
                <h5 class="card-title" *ngIf="!this.editingNamePart">
                  {{ this.student?.fullName }}
                </h5>
                <input
                  type="text"
                  *ngIf="this.editingNamePart"
                  value="{{ this.student?.fullName }}"
                  style="
                    background: #26282a;
                    border: 0.1px solid grey;
                    color: white;
                    padding: 3px;
                  "
                  [(ngModel)]="model1.fullName"
                />
                <img
                  *ngIf="this.student?.isCoach"
                  src="../../../assets/images/coach-badge.png"
                  class="coach-badge"
                  alt=""
                />
                <i
                  class="btn bi bi-pencil-square"
                  *ngIf="
                    this.student?.id == this.loggedinId && !this.editingNamePart
                  "
                  (click)="this.toogleEditingNamePart()"
                  style="color: grey; font-size: 18px"
                ></i>
                <i
                  class="btn bi-patch-check-fill"
                  *ngIf="this.editingNamePart"
                  (click)="this.editNamePart()"
                  style="color: grey; font-size: 18px"
                ></i>
              </div>
              <p class="card-text" *ngIf="!this.editingNamePart">
                {{
                  this.student?.university == null
                    ? "لم يتم تحديد جامعة بعد"
                    : this.student?.university
                }}
              </p>
              <input
                style="
                  background: #26282a;
                  border: 0.1px solid grey;
                  color: white;
                  padding: 3px;
                "
                *ngIf="this.editingNamePart"
                type="text"
                [value]="this.student?.university"
                [(ngModel)]="model1.university"
              />
            </div>
            <div class="websites">
              <div style="position: relative">
                <a
                  href="https://atcoder.jp/users/{{
                    this.student?.atCoderHandle
                  }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  *ngIf="this.student?.atCoderHandle != null"
                >
                  <img
                    src="../../../assets/images/at-coder.png "
                    class="card-images"
                    alt=""
                  />
                </a>

                <img
                  src="../../../assets/images/at-coder.png "
                  class="card-images"
                  alt=""
                  *ngIf="this.student?.atCoderHandle == null"
                />
                <div
                  class="hovered"
                  *ngIf="
                    this.student?.atCoderHandle == null &&
                    this.student?.id == this.loggedinId
                  "
                  (click)="showDialogModal('atcoder')"
                ></div>
              </div>
              <div style="position: relative">
                <a
                  href="https://www.codechef.com/users/{{
                    this.student?.codeChefHandle
                  }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  *ngIf="this.student?.codeChefHandle != null"
                >
                  <img
                    src="../../../assets/images/code-cheaf.png "
                    class="card-images"
                    alt=""
                  />
                </a>

                <img
                  src="../../../assets/images/code-cheaf.png "
                  class="card-images"
                  alt=""
                  *ngIf="this.student?.codeChefHandle == null"
                />
                <div
                  class="hovered"
                  *ngIf="
                    this.student?.codeChefHandle == null &&
                    this.student?.id == this.loggedinId
                  "
                  (click)="showDialogModal('codechef')"
                ></div>
              </div>
              <div style="position: relative">
                <a
                  href="https://codeforces.com/profile/{{
                    this.student?.codeforcesAccount
                  }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  *ngIf="this.student?.codeforcesAccount != null"
                >
                  <img
                    src="../../../assets/images/code-forces.png "
                    class="card-images"
                    alt=""
                  />
                </a>

                <img
                  src="../../../assets/images/code-forces.png "
                  class="card-images"
                  alt=""
                  *ngIf="this.student?.codeforcesAccount == null"
                />
                <div
                  class="hovered"
                  *ngIf="
                    this.student?.codeforcesAccount == null &&
                    this.student?.id == this.loggedinId
                  "
                  (click)="showDialogModal('codeforces')"
                ></div>
              </div>
            </div>
          </div>

          <!-- <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div> -->
        </div>
      </div>
      <h4 class="part-header">
        سيرة ذاتية مختصرة
        <i
          class="btn bi bi-pencil-square"
          *ngIf="this.student?.id == this.loggedinId && !this.editingBioPart"
          style="color: grey; font-size: 18px"
          (click)="this.toogleBioPart()"
        ></i>
        <i
          class="btn bi-patch-check-fill"
          *ngIf="this.editingBioPart"
          (click)="this.editBioPart()"
          style="color: grey; font-size: 18px"
        ></i>
      </h4>

      <div class="about-part" *ngIf="!this.editingBioPart">
        {{
          this.student?.bio == null
            ? "لا يوجد بعد سيرة ذاتية"
            : this.student?.bio
        }}
      </div>
      <textarea
        *ngIf="this.editingBioPart"
        name=""
        id=""
        cols="30"
        rows="3"
        style="
          direction: rtl;
          margin: 20px;
          background: #1e2021;
          border: none;
          resize: none;
          padding: 20px;
          color: white;
          border-radius: 20px;
        "
        [(ngModel)]="model1.bio"
        oninput="this.style.height = ''; this.style.height = this.scrollHeight +'px'"
        >{{
          this.student?.bio == null
            ? "لا يوجد بعد سيرة ذاتية "
            : this.student?.bio
        }}</textarea
      >
      <h4 class="part-header">
        المشاركات
        <i
          class="btn bi bi-plus-square"
          *ngIf="this.student?.id == this.loggedinId"
          style="color: grey; font-size: 18px"
          (click)="this.showPDialogModalFlag = true"
        ></i>
      </h4>

      <div class="about-part" *ngIf="this.student?.participations?.length == 0">
        لا يوجد أي مشاركات بعد
      </div>
      <div
        class="participates-part"
        *ngFor="let item of this.student?.participations; let i = index"
      >
        <img
          src="../../../assets/images/cpc.png"
          width="80px"
          height="120px"
          alt=""
        />
        <div
          style="
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-left: 20px;
          "
        >
          <div style="display: flex; gap: 20px">
            <h4 style="color: white">{{ item.name }}</h4>
            <i
              class="bi bi-trash"
              style="color: rgb(185, 11, 11); font-size: 20px; cursor: pointer"
              (click)="deleteParticipation(i)"
              *ngIf="this.student?.id == this.loggedinId"
            ></i>
          </div>

          <div style="display: flex; gap: 5px; align-items: center">
            <i class="bi bi-geo-alt" style="color: grey"></i>
            <div class="p-item">{{ item.location }}</div>
          </div>
          <div style="display: flex; gap: 5px; align-items: center">
            <i class="bi bi-calendar3" style="color: grey"></i>

            <div class="p-item">{{ item.year }}</div>
          </div>
        </div>
        <div style="display: flex; flex-direction: column; gap: 20px">
          <h4 style="color: white; opacity: 0">العالمية</h4>
          <div style="display: flex; gap: 5px; align-items: center">
            <i class="bi bi-people" style="color: grey"></i>

            <div class="p-item">{{ item.teamName }}</div>
          </div>
          <div style="display: flex; gap: 5px; align-items: center">
            <i class="bi bi-award" style="color: grey"></i>

            <div class="p-item">المركز {{ item.rank }}</div>
          </div>
        </div>
      </div>
      <h4 class="part-header">آخر المسائل المحلولة</h4>
      <div style="position: relative; left: 48%">
        <div class="lds-dual-ring" *ngIf="this.latestSubmissionsLoading"></div>
      </div>
      <div
        class="about-part"
        *ngIf="
          !this.latestSubmissionsLoading && this.latestSubmissions.length == 0
        "
      >
        لم يتم حل أي مسائل مؤخراً
      </div>
      <p-carousel
        *ngIf="
          !this.latestSubmissionsLoading && this.latestSubmissions.length != 0
        "
        [value]="this.latestSubmissions"
        [numVisible]="2"
        [numScroll]="2"
        [circular]="false"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-problem pTemplate="item">
          <div
            style="
              display: flex;
              direction: rtl;
              align-items: center;
              justify-content: space-between;
              width: 100;
              margin-left: 10px;
              margin-right: 10px;
              margin-bottom: 30px;
              background-color: #202124;
              border-radius: 20px;
              color: #9f9f9f;
            "
          >
            <div style="display: flex">
              <img
                src="../../../assets/images/cpc.png"
                width="80px"
                style="border-radius: 20px"
                alt=""
              />
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
                  padding: 20px;
                "
              >
                <div style="font-size: 15px; color: white">
                  {{ problem.name }}
                  <a
                    href="{{ problem.url }}"
                    target="_blank"
                    style="color: #348ac7; text-decoration: underline"
                    >{{ problem.contestId + problem.index }}</a
                  >
                </div>
                <div style="font-size: 13px; color: #9f9f9f">
                  مستوى صعوبة المسألة
                  {{
                    problem.rating <= 1000
                      ? "سهل"
                      : problem.rating <= 1800
                      ? "متوسط"
                      : "متقدم"
                  }}
                </div>
                <div
                  style="
                    font-size: 13px;
                    color: #9f9f9f;
                    display: flex;
                    gap: 5px;
                  "
                >
                  <div *ngFor="let itemc of problem.tags">{{ itemc }}</div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </body>
</html>
<p-dialog
  [header]="this.dialogeTitle"
  [(visible)]="this.showDialogModalFlag"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <input
    type="text"
    class="form-control form-control-dark"
    style="
      width: 97%;
      background-color: #303136;
      border: none;
      border-radius: 5px;
      color: white;
      margin-bottom: 20px;
      margin-top: 20px;
    "
    [(ngModel)]="dialogeValue"
    placeholder="e.g Ammourie99"
  />

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (click)="showDialogModalFlag = false"
      label="رجوع"
      [style]="{
        width: '15vw',
        'background-color': '#970000',
        color: 'white',
        border: 'none',
        'font-family': 'sans-serif'
      }"
    ></p-button>
    <p-button
      icon="pi pi-check"
      (click)="submitDialoge()"
      label="موافق"
      class="p-button-text"
      [style]="{
        width: '15vw',
        border: 'none',
        color: 'white',
        'background-color': '#005C97',
        'font-family': 'sans-serif'
      }"
    ></p-button>
  </ng-template>
</p-dialog>
<p-dialog
  header="أضف مشاركة:"
  [(visible)]="this.showPDialogModalFlag"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div style="display: grid; grid-template-columns: auto auto; direction: rtl">
    <input
      type="text"
      class="form-control form-control-dark"
      style="
        width: 97%;
        background-color: #303136;
        border: none;
        border-radius: 5px;
        color: white;
        margin-bottom: 20px;
        margin-top: 20px;
      "
      [(ngModel)]="participation.name"
      placeholder="اسم المشاركة"
    />
    <input
      type="text"
      class="form-control form-control-dark"
      style="
        width: 97%;
        background-color: #303136;
        border: none;
        border-radius: 5px;
        color: white;
        margin-bottom: 20px;
        margin-top: 20px;
      "
      [(ngModel)]="participation.location"
      placeholder="مكان المشاركة"
    />
    <input
      type="text"
      onfocusin="(this.type='date')"
      onfocusout="(this.type='text')"
      class="form-control form-control-dark"
      style="
        width: 97%;
        background-color: #303136;
        border: none;
        border-radius: 5px;
        color: white;
        margin-bottom: 20px;
        margin-top: 20px;
      "
      [(ngModel)]="participation.year"
      placeholder="تاريخ المشاركة"
    />
    <input
      type="text"
      class="form-control form-control-dark"
      style="
        width: 97%;
        background-color: #303136;
        border: none;
        border-radius: 5px;
        color: white;
        margin-bottom: 20px;
        margin-top: 20px;
      "
      [(ngModel)]="participation.teamName"
      placeholder="اسم الفريق الذي شاركت معه"
    />
    <input
      type="text"
      class="form-control form-control-dark"
      style="
        width: 97%;
        background-color: #303136;
        border: none;
        border-radius: 5px;
        color: white;
        margin-bottom: 20px;
        margin-top: 20px;
      "
      [(ngModel)]="participation.rank"
      placeholder="المركز الذي احتليته"
    />
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (click)="showPDialogModalFlag = false"
      label="رجوع"
      [style]="{
        width: '15vw',
        'background-color': '#970000',
        color: 'white',
        border: 'none',
        'font-family': 'sans-serif'
      }"
    ></p-button>
    <p-button
      icon="pi pi-check"
      (click)="addParticibation()"
      label="موافق"
      class="p-button-text"
      [style]="{
        width: '15vw',
        border: 'none',
        color: 'white',
        'background-color': '#005C97',
        'font-family': 'sans-serif'
      }"
    ></p-button>
  </ng-template>
</p-dialog>
<p-dialog
  header="هل أنت متأكد؟"
  [(visible)]="this.showDDialogModalFlag"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (click)="showDDialogModalFlag = false"
      label="رجوع"
      [style]="{
        width: '15vw',
        'background-color': '#970000',
        color: 'white',
        border: 'none',
        'font-family': 'sans-serif'
      }"
    ></p-button>
    <p-button
      icon="pi pi-check"
      (click)="confirmDelete()"
      label="موافق"
      class="p-button-text"
      [style]="{
        width: '15vw',
        border: 'none',
        color: 'white',
        'background-color': '#005C97',
        'font-family': 'sans-serif'
      }"
    ></p-button>
  </ng-template>
</p-dialog>
