<div class="gr-main">
  <div class="st">
    <div class="st-item">
      <div
        style="display: flex; justify-content: center; width: 100%"
        *ngIf="this.statsService.gettingStats"
      >
        <p-progressSpinner></p-progressSpinner>
      </div>
      <p-knob
        [(ngModel)]="this.statsService.stats!.percentageOfNewParticipants"
        [size]="130"
        [readonly]="true"
        valueTemplate="{value}%"
        [min]="0"
        [max]="100"
        *ngIf="!this.statsService.gettingStats"
      >
      </p-knob>

      <h1 class="st-text" *ngIf="!this.statsService.gettingStats">
        نسبة الطلاب المشاركون أول مرة
      </h1>
    </div>
    <div class="st-item">
      <div
        style="display: flex; justify-content: center; width: 100%"
        *ngIf="this.statsService.gettingStats"
      >
        <p-progressSpinner></p-progressSpinner>
      </div>
      <img
        src="assets/images/placeholder2.png"
        class="st-image"
        *ngIf="!this.statsService.gettingStats"
      />
      <h1 class="st-text" *ngIf="!this.statsService.gettingStats">
        عدد الطلاب المتواجدون
        {{ this.statsService.stats!.numStudentsCurrentlyTraining }} طالباً
      </h1>
    </div>
    <div class="st-item">
      <div
        style="display: flex; justify-content: center; width: 100%"
        *ngIf="this.statsService.gettingStats"
      >
        <p-progressSpinner></p-progressSpinner>
      </div>
      <img
        src="assets/images/placeholder3.png"
        class="st-image"
        *ngIf="!this.statsService.gettingStats"
      />
      <h1 class="st-text" *ngIf="!this.statsService.gettingStats">
        عدد الفرق المسجلة {{ this.statsService.stats!.numOfTeams }} فريقاً
      </h1>
    </div>
  </div>

  <div dir="rtl">
    <div style="display: flex; justify-content: space-between">
      <div
        style="
          margin-top: 20px;
          margin-bottom: 20px;
          margin-right: 40px;
          display: flex;
        "
      >
        <input
          type="text"
          class="form-control form-control-dark search"
          placeholder="ابحث ..."
          aria-label="Search"
          (keyup.enter)="searchForCoaches()"
          [(ngModel)]="searchText"
        />
      </div>
      <a
        [routerLink]="['/coaches/add-post']"
        routerLinkActive="router-link-active"
        style="text-decoration: none"
        *ngIf="this.x2['role'] == 'Member,Coach'"
      >
        <div class="add-post">أضف منشورً أو مهمةً</div>
      </a>
    </div>
  </div>
  <!-- <router-outlet></router-outlet> -->
  <div
    class="lds-ring"
    *ngIf="
      this.coachService.gettingcoaches ||
      this.searchService.gettingSearchedCoaches
    "
  >
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div
    class="row"
    *ngIf="
      !this.coachService.gettingcoaches &&
      !this.searchService.gettingSearchedCoaches
    "
    dir="rtl"
  >
    <div class="column" *ngFor="let item of this.coachService.coaches">
      <div class="wrapper-grid">
        <div class="img-container">
          <div class="banner-img"></div>
          <img
            *ngIf="item.profilePhoto == null"
            width="60px"
            height="120px"
            src="../../../assets/images/placeholder2.png"
            alt="profile image"
            class="profile-img"
          />
          <img
            *ngIf="item.profilePhoto != null"
            width="60px"
            height="120px"
            src="{{ item.profilePhoto }}"
            alt="profile image"
            class="profile-img"
          />
          <h1 class="name" *ngIf="item.fullName == null">لايوجد اسم</h1>
          <h1 class="name" *ngIf="item.fullName != null">
            {{ item.fullName }}
          </h1>
          <p class="description" style="height: 100px" *ngIf="item.bio != null">
            {{ item.bio }}
          </p>
          <p class="description" style="height: 100px" *ngIf="item.bio == null">
            لا يوجد سيرة ذاتية
          </p>
          <button class="btnn" (click)="gotoProfile(item)">المزيد</button>
        </div>
      </div>
    </div>
  </div>
  <p-paginator
    [rows]="this.coachService.coachesItemsPerPage"
    [totalRecords]="this.coachService.coachesTotal"
    [style]="{ 'background-color': '#26282A' }"
    (onPageChange)="onPageChange($event)"
    *ngIf="!this.searchFlag"
  ></p-paginator>
</div>
