<app-nav-bar></app-nav-bar>
<div
  class="d-flex flex-row justify-content-between"
  style="
    background-color: #26282a;
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 7%;
  "
>
  <img src="assets/images/logo.png" width="450" height="300" alt="" srcset="" />
  <div class="flex-column" style="text-align: right" dir="rtl">
    <h2 style="color: aliceblue">
      المسابقة <span style="color: #7474bf">البرمجية</span>
    </h2>
    <h2 style="color: aliceblue">
      <span style="color: #7474bf">السورية</span> لطلاب الجامعات
    </h2>
    <div style="height: 20px"></div>
    <p style="color: grey; width: 75%">
      تستهدف هذه المسابقة طلاب الجامعات من أي تخصص، حيث يتسابقون ضمن فرق تمثل
      جامعاتهم. تتمايز هذه الفرق حسب مستواها العلمي وقدرتها على تحليل المسائل
      وتصميم وتنجيز خوارزميات حلها، وبذلك تختبر المسابقة المهارات التحليلية
      والبرمجية للمتسابقين كما تضع أمامهم تحدياً يتمثل في استثمار الوقت وتوزيع
      المهام وتعاون أعضاء الفريق وعملهم بشكل جماعي.
    </p>
    <div style="height: 20px"></div>

    <button class="col btn btn-dark-blue btn-rounded" (click)="test2()">
      المزيد حول المسابقة
    </button>
  </div>
</div>

<div style="height: 50px; background-color: #26282a"></div>

<img src="assets/images/im1.png" width="100%" height="auto" alt="" srcset="" />

<div style="height: 50px; background-color: #26282a"></div>

<div
  style="background-color: #26282a; padding-left: 10%; padding-right: 7%"
  dir="rtl"
>
  <h2 style="color: aliceblue">يستفيد المشاركين بعدة مجالات</h2>
  <div style="height: 30px; color: #202124"></div>

  <div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-center">
      <div class="rec d-flex flex-column">
        <img
          src="../../../assets/images/pic2.png"
          width="300"
          style="align-self: center"
          alt=""
          srcset=""
        />
        <div style="height: 30px; color: #202124"></div>
        <h4 style="color: aliceblue">التفكير وحل المشكلات</h4>
        <div style="height: 10px; color: #202124"></div>
        <p style="color: gray">
          تعبّر مهارات حلّ المشكلات كما يشير إليها اسمها عن القدرة على إيجاد
          الحلول الفعّالة لمختلف المشكلات التي تواجهنا في الحياة العملية أو
          الخاصة، وفي الوقت المناسب الذي يضمن تفادي الخسائر أو تقليلها قدر
          الإمكان. ويتضمّن ذلك عدّة خطوات رئيسية لابدّ من اتباعها
        </p>
      </div>
      <div class="rec d-flex flex-column">
        <img
          src="../../../assets/images/pic1.png"
          width="300"
          style="align-self: center"
          alt=""
          srcset=""
        />
        <div style="height: 30px; color: #202124"></div>
        <h4 style="color: aliceblue">التفكير وحل المشكلات</h4>
        <div style="height: 10px; color: #202124"></div>
        <p style="color: gray">
          تعبّر مهارات حلّ المشكلات كما يشير إليها اسمها عن القدرة على إيجاد
          الحلول الفعّالة لمختلف المشكلات التي تواجهنا في الحياة العملية أو
          الخاصة، وفي الوقت المناسب الذي يضمن تفادي الخسائر أو تقليلها قدر
          الإمكان. ويتضمّن ذلك عدّة خطوات رئيسية لابدّ من اتباعها
        </p>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <div class="rec d-flex flex-column">
        <img
          src="../../../assets/images/pic3.png"
          width="300"
          style="align-self: center"
          alt=""
          srcset=""
        />
        <div style="height: 30px; color: #202124"></div>
        <h4 style="color: aliceblue">التفكير وحل المشكلات</h4>
        <div style="height: 10px; color: #202124"></div>
        <p style="color: gray">
          تعبّر مهارات حلّ المشكلات كما يشير إليها اسمها عن القدرة على إيجاد
          الحلول الفعّالة لمختلف المشكلات التي تواجهنا في الحياة العملية أو
          الخاصة، وفي الوقت المناسب الذي يضمن تفادي الخسائر أو تقليلها قدر
          الإمكان. ويتضمّن ذلك عدّة خطوات رئيسية لابدّ من اتباعها
        </p>
      </div>

      <div class="rec d-flex flex-column">
        <img
          src="../../../assets/images/pic3.png"
          width="300"
          style="align-self: center"
          alt=""
          srcset=""
        />
        <div style="height: 30px; color: #202124"></div>
        <h4 style="color: aliceblue">التفكير وحل المشكلات</h4>
        <div style="height: 10px; color: #202124"></div>
        <p style="color: gray">
          تعبّر مهارات حلّ المشكلات كما يشير إليها اسمها عن القدرة على إيجاد
          الحلول الفعّالة لمختلف المشكلات التي تواجهنا في الحياة العملية أو
          الخاصة، وفي الوقت المناسب الذي يضمن تفادي الخسائر أو تقليلها قدر
          الإمكان. ويتضمّن ذلك عدّة خطوات رئيسية لابدّ من اتباعها
        </p>
      </div>
    </div>
  </div>
</div>

<div style="height: 50px; background-color: #26282a"></div>

<div
  class="d-flex flex-row justify-content-between"
  style="
    background-color: #202124;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10%;
    padding-right: 7%;
  "
>
  <img
    src="../../../assets/images/think.png"
    width="200"
    height="400"
    alt=""
    srcset=""
  />
  <div class="flex-column" style="text-align: right" dir="rtl">
    <h2 style="color: aliceblue">
      كيف يمكنني <span style="color: #fbb836"> المشاركة؟</span>
    </h2>

    <div style="height: 50px"></div>
    <p style="color: grey; width: 75%">
      تستهدف هذه المسابقة طلاب الجامعات من أي تخصص، حيث يتسابقون ضمن فرق تمثل
      جامعاتهم. تتمايز هذه الفرق حسب مستواها العلمي وقدرتها على تحليل المسائل
      وتصميم وتنجيز خوارزميات حلها، وبذلك تختبر المسابقة المهارات التحليلية
      والبرمجية للمتسابقين كما تضع أمامهم تحدياً يتمثل في استثمار الوقت وتوزيع
      المهام وتعاون أعضاء الفريق وعملهم بشكل جماعي.
    </p>
    <div style="height: 100px"></div>

    <button
      class="col btn btn-rounded"
      style="
        background-color: #fbb836;
        color: aliceblue;
        padding-left: 40px;
        padding-right: 40px;
      "
    >
      منصة التدريب
    </button>
  </div>
</div>
<app-footer></app-footer>
