<app-nav-bar></app-nav-bar>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, init
    ial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div style="direction: rtl; padding-top: 120px">
      <div
        style="
          display: flex;
          justify-content: space-between;
          margin-bottom: 50px;
          padding-left: 100px;
          padding-right: 100px;
        "
      >
        <div
          style="
            display: flex;
            flex-direction: column;
            padding: 40px;
            gap: 20px;
          "
        >
          <h1 style="color: white">
            ما هي المسابقة <span style="color: #7474bf">البرمجية؟؟</span>
          </h1>
          <p style="font-size: 20px; color: grey">
            لا بد أنك سمعت بمسابقات البرمجة من قبل، أو رأيت بعض الطلاب في جامعتك
            يرتدون ملابسَ موحدةً من أجل تقديم مسابقة برمجية على مستوى الجامعة،
            حسنًا، تعتبر هذه المسابقة أقوى مسابقة برمجية على المستوى العالمي.
            تعتبر هذه المسابقة بمثابة مسابقةٍ برمجيةٍ جماعية مخصصة لطلاب
            الجامعات حيث يتكون كل فريقٍ من ثلاثة أفراد، وهذا الفريق يتم اختياره
            على مستوى الجامعة الواحدة، يتكون من خيرة طلابها، لذلك تكون المنافسة
            المحلية بين الطلاب كبيرةً، حيث يتحدى المشاركون بعضهم من أجل حل
            الخوارزميات الحاسوبية بمهاراتٍ برمجيةٍ سريعة، وهذا ما يعزز التعاون
            والإبداع والابتكار، ويطور أداء المشاركين تحت الضغط، وذلك من خلال
            التدريب والمنافسة بهدف رفع اسم الجامعة، وتقديم الخدمات الهامة على
            مستوى العالم.
          </p>
        </div>
        <img
          src="../../../assets/images/think.png"
          width="150px"
          height="450px"
          alt=""
          srcset=""
        />
      </div>

      <div
        style="
          display: flex;
          flex-direction: column;
          gap: 30px;
          padding: 50px;
          margin-bottom: 40px;

          color: white;
          background-color: #202124;
        "
      >
        <h1 style="color: white; align-self: center">
          الهيكلية العامة<span style="color: #7474bf">للمسابقة</span>
        </h1>
        <ul style="color: grey; font-size: 20px">
          <li
            *ngFor="let item of [1, 2, 3, 4]"
            style="margin-bottom: 50px; margin-left: 60px; margin-right: 60px"
          >
            تطورت المسابقة البرمجية الجامعية لتصبح برنامجًا تعليميًّا تنافسيًّا
            على مستوى العالم، ولفتت النظر لأداء وتطلعات الأجيال الحديثة في حل
            مشكلات العالم المتعلقة بعلوم الحوسبة والكمبيوتر على مدار أربعة
            عقودٍ.
          </li>
        </ul>
      </div>

      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 50px;
          margin-bottom: 100px;
        "
      >
        <h1 style="color: white">
          مستويات المعسكر<span style="color: #7474bf"> التدريبي!!</span>
        </h1>
        <div style="display: flex; gap: 50px">
          <div
            style="
              background-color: #202124;
              display: flex;
              flex-direction: column;
              border-radius: 20px;
              width: 20vw;
            "
          >
            <div
              style="
                width: 20vw;
                height: 200px;
                background-color: #32c96a;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              "
            >
              <div style="display: flex; gap: 20px">
                <i class="bi bi-star" style="font-size: 40px"></i
                ><i class="bi bi-star" style="font-size: 40px"></i>
                <i class="bi bi-star-fill" style="font-size: 40px"></i>
              </div>
              <h4 style="color: #202124">مستوى التدريب مبتدئ</h4>
            </div>
            <p style="color: grey; font-size: 15px; margin: 20px">
              تعبّر مهارات حلّ المشكلات كما يشير إليها اسمها عن القدرة على إيجاد
              الحلول الفعّالة لمختلف المشكلات التي تواجهنا في الحياة العملية أو
              الخاصة، وفي الوقت المناسب الذي يضمن تفادي الخسائر أو تقليلها قدر
              الإمكان. ويتضمّن ذلك عدّة خطوات رئيسية لابدّ من اتباعها
            </p>
          </div>
          <div
            style="
              background-color: #202124;
              display: flex;
              flex-direction: column;
              border-radius: 20px;
              width: 20vw;
            "
          >
            <div
              style="
                width: 20vw;
                height: 200px;
                background-color: #c9a132;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              "
            >
              <div style="display: flex; gap: 20px">
                <i class="bi bi-star" style="font-size: 40px"></i
                ><i class="bi bi-star-fill" style="font-size: 40px"></i>
                <i class="bi bi-star-fill" style="font-size: 40px"></i>
              </div>
              <h4 style="color: #202124">مستوى التدريب متوسط</h4>
            </div>
            <p style="color: grey; font-size: 15px; margin: 20px">
              تعبّر مهارات حلّ المشكلات كما يشير إليها اسمها عن القدرة على إيجاد
              الحلول الفعّالة لمختلف المشكلات التي تواجهنا في الحياة العملية أو
              الخاصة، وفي الوقت المناسب الذي يضمن تفادي الخسائر أو تقليلها قدر
              الإمكان. ويتضمّن ذلك عدّة خطوات رئيسية لابدّ من اتباعها
            </p>
          </div>
        </div>
        <div
          style="
            background-color: #202124;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            width: 20vw;
          "
        >
          <div
            style="
              width: 20vw;
              height: 200px;
              background-color: #f54e4e;
              border-radius: 20px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            "
          >
            <div style="display: flex; gap: 20px">
              <i class="bi bi-star-fill" style="font-size: 40px"></i
              ><i class="bi bi-star-fill" style="font-size: 40px"></i>
              <i class="bi bi-star-fill" style="font-size: 40px"></i>
            </div>
            <h4 style="color: #202124">مستوى التدريب متقدم</h4>
          </div>
          <p style="color: grey; font-size: 15px; margin: 20px">
            تعبّر مهارات حلّ المشكلات كما يشير إليها اسمها عن القدرة على إيجاد
            الحلول الفعّالة لمختلف المشكلات التي تواجهنا في الحياة العملية أو
            الخاصة، وفي الوقت المناسب الذي يضمن تفادي الخسائر أو تقليلها قدر
            الإمكان. ويتضمّن ذلك عدّة خطوات رئيسية لابدّ من اتباعها
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
<app-footer></app-footer>
