<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>
  </head>

  <body>
    <div class="gr-header">
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row">
          <div style="margin-left: 20%">
            <img
              src="assets/images/person.svg"
              style="color: red"
              alt=""
              srcset=""
            />
          </div>

          <div style="margin-left: 20px">
            <img
              src="assets/images/notifications.svg"
              style="color: red"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <div style="display: flex; align-items: center">
          <div style="color: antiquewhite; font-size: 28px">
            مجموعات التدريب
          </div>

          <div class="dropdown">
            <div class="dropbtn"><i class="bi bi-list"></i></div>
            <div class="dropdown-content">
              <a
              [routerLink]="['/main-practice-page']"
              dir="rtl"
              routerLinkActive="router-link-active"
            >
              الرئيسية
            </a>
              <a
                [routerLink]="['/students']"
                dir="rtl"
                routerLinkActive="router-link-active"
              >
                الطلاب
              </a>
              <a
                [routerLink]="['/coaches/list']"
                dir="rtl"
                routerLinkActive="router-link-active"

                >المدربين
              </a>
              <a
                [routerLink]="['/practice-groups']"
                dir="rtl"
                routerLinkActive="router-link-active"       class="selected-btn"
              >
                مجموعات التدريب
              </a>
              <a
                [routerLink]="['/dates']"
                dir="rtl"
                routerLinkActive="router-link-active"

                >المواعيد
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gr-menu">
      <div style="height: 40px; width: 40px">
        <img src="assets/images/back-icon.svg" alt="" srcset="" />
      </div>
      <div style="display: flex; flex-direction: column; align-items: center">
        <img
          src="assets/images/logo.png"
          width="125px"
          height="auto"
          alt=""
          srcset=""
        />
        <div style="color: antiquewhite; font-size: 17px">
          المسابقة البرمجية السورية
        </div>
        <div style="color: dimgrey; font-size: 13px">
          Syrian Programming Contest
        </div>
      </div>
      <div class="bt-gr">
        <a [routerLink]="['/main-practice-page']" routerLinkActive="router-link-active">
          <div
            class="col btn btn-rounded btn0"
            style="text-align: end; width: 100%"
          >
            الرئيسية
          </div>
        </a>
        <a [routerLink]="['/students']" routerLinkActive="router-link-active" >
          <div
            class="col btn btn-rounded btn1"
            style="text-align: end; width: 100%"
          >
            الطلاب
          </div>
        </a>
        <a [routerLink]="['/coaches/list']" routerLinkActive="router-link-active" >
        <div
          class="col btn btn-rounded btn2"
          style="text-align: end; width: 100%"
        >
          المدربين
        </div></a>  <a [routerLink]="['/practice-groups']" routerLinkActive="router-link-active" >
        <div class="col btn btn-rounded selected-btn" style="text-align: end; width: 100%">
          مجموعات التدريب
        </div></a>
       <a [routerLink]="['/dates']" routerLinkActive="router-link-active" >   <div class="col btn btn-rounded btn4" style="text-align: end; width: 100%">
          المواعيد
        </div></a>
      </div>
    </div>
    <div class="gr-main">
      <div class="st">
        <div class="st-item">
          <img src="assets/images/easy.png" class="st-image" />
          <div class="st-content">
            <div class="st-container">
              <h1 class="st-header">مستوى التدريب مبتدئ</h1>
              <h1 class="st-text">ثلاثة فرق تدريب بمجمل مئتي طالب</h1>
              <h1 class="st-footer">الجلسة القادمة عن البرمجة الديناميكية</h1>
            </div>
          </div>
        </div>
        <div class="st-item">
          <img src="assets/images/med.png" class="st-image" />
          <div class="st-content">
            <div class="st-container">
              <h1 class="st-header">مستوى التدريب متوسط</h1>
              <h1 class="st-text">ثلاثة فرق تدريب بمجمل مئتي طالب</h1>
              <h1 class="st-footer">الجلسة القادمة عن البرمجة الديناميكية</h1>
            </div>
          </div>
        </div>
        <div class="st-item">
          <img src="assets/images/hard.png" class="st-image" />
          <div class="st-content">
            <div class="st-container">
              <h1 class="st-header">مستوى التدريب متقدم</h1>
              <h1 class="st-text">ثلاثة فرق تدريب بمجمل مئتي طالب</h1>
              <h1 class="st-footer">الجلسة القادمة عن البرمجة الديناميكية</h1>
            </div>
          </div>
        </div>
      </div>

      <div dir="rtl">
        <div
          class="d-flex flex-row justify-content-start"
          style="margin-top: 20px"
          style="margin-bottom: 20px"
        >
          <input
            type="text"
            class="form-control form-control-dark ft"
            placeholder="فلترة"
          />
          <input
            type="text"
            class="form-control form-control-dark search"
            placeholder="ابحث ..."
            aria-label="Search"
          />
        </div>
      </div>

      <div class="row" dir="rtl">
        <div class="column"  *ngFor="let item of [].constructor(10);let i=index">
          <div class="wrapper-grid">
            <div
            [ngClass]="{
              'img-container-g': i%3==0,
              'img-container-r': i%3==1,
              'img-container-o': i%3==2

            }"
            >
<div class="content">
<div class="group-header">
مجموعة {{i+1}}</div>
<div class="group-coaches">
  <ul>
    <li>
      محمد نور الخليف
    </li>
    <li>
      ياسر ميلاتو
    </li>
  </ul>
</div>
</div>

          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
