<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700"
    />

    <title>Document</title>
  </head>

  <body>
    <div class="gr-header">
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row">
          <div style="margin-left: 20%">
            <img
              src="assets/images/person.svg"
              style="color: red"
              alt=""
              srcset=""
            />
          </div>

          <div style="margin-left: 20px">
            <img
              src="assets/images/notifications.svg"
              style="color: red"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <div style="display: flex; align-items: center">
          <div
            style="
              color: antiquewhite;
              font-size: 28px;
              font-family: sans-serif;
            "
          >
            التسجيل على الفرق
          </div>

          <!-- <div class="dropdown">
            <div class="dropbtn"><i class="bi bi-list"></i></div>
            <div class="dropdown-content">
              <a
                [routerLink]="['/students']"
                dir="rtl"
                routerLinkActive="router-link-active"
              >
                الطلاب
              </a>
              <a
                [routerLink]="['/coaches/list']"
                dir="rtl"
                routerLinkActive="router-link-active"
                class="selected-btn"
                >المدربين
              </a>
              <a
                [routerLink]="['/practice-groups']"
                dir="rtl"
                routerLinkActive="router-link-active"
              >
                مجموعات التدريب
              </a>
              <a
                [routerLink]="['/dates']"
                dir="rtl"
                routerLinkActive="router-link-active"
                >المواعيد
              </a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="gr-menu">
      <div style="height: 40px; width: 40px">
        <img src="assets/images/back-icon.svg" alt="" srcset="" />
      </div>
      <div style="display: flex; flex-direction: column; align-items: center">
        <img
          src="assets/images/logo.png"
          width="125px"
          height="auto"
          alt=""
          srcset=""
        />
        <div style="color: antiquewhite; font-size: 17px">
          المسابقة البرمجية السورية
        </div>
        <div style="color: dimgrey; font-size: 13px">
          Syrian Programming Contest
        </div>
      </div>
      <hr style="color: whitesmoke; height: 1.5px" />
      <div
        style="
          color: antiquewhite;
          font-size: 20px;
          text-align: center;
          direction: rtl;
          margin-top: 20px;
        "
        *ngIf="students.length == 0"
      >
        لم يتم اختيار أي شخص بعد
      </div>
      <div
        style="
          color: antiquewhite;
          font-size: 18px;
          text-align: right;
          direction: rtl;
        "
        *ngIf="students.length != 0"
      >
        أعضاء الفريق :
      </div>

      <div class="students-gr">
        <div
          class="added-student"
          *ngFor="let item of students; let i = index"
          style="margin: 10px"
        >
          <div style="display: flex; align-items: center">
            <img
              src="../../../assets/images/profile.jpg"
              style="
                border-radius: 50%;
                width: 45px;
                height: 45px;
                margin-left: 15px;
              "
              alt="Avatar"
            />
            <div style="display: flex; flex-direction: column">
              <div
                style="color: white; font-size: 17px; font-family: sans-serif"
              >
                {{ item }}
              </div>
              <div style="color: grey; font-size: 13px">مبتدئ</div>
            </div>
          </div>
          <div
            class="btn bi bi-x-circle"
            (click)="deleteStudent(i)"
            style="color: red; font-size: 20px; margin-left: 10px"
          ></div>
        </div>
        <div
          class="btn btn-primary"
          style="width: 70%; border-radius: 10px; margin-top: 40px"
          *ngIf="students.length >= 3"
          (click)="showModalDialog()"
        >
          تم
        </div>
        <p-dialog
          header="أعضاء الفريق :"
          [(visible)]="displayModal"
          [modal]="true"
          [baseZIndex]="10000"
          [draggable]="false"
          [resizable]="false"
          [style]="{ width: '50vw' }"
        >
          <div class="confirm-dialog-content">
            <div
              class="added-student"
              *ngFor="let item of students; let i = index"
            >
              <div style="display: flex; align-items: center">
                <img
                  src="../../../assets/images/profile.jpg"
                  style="
                    border-radius: 50%;
                    width: 45px;
                    height: 45px;
                    margin-left: 15px;
                  "
                  alt="Avatar"
                />
                <div style="display: flex; flex-direction: column">
                  <div
                    style="
                      color: white;
                      font-size: 17px;
                      font-family: sans-serif;
                    "
                  >
                    {{ item }}
                  </div>
                  <div style="color: grey; font-size: 13px">مبتدئ</div>
                </div>
              </div>
            </div>
          </div>
          <h5
            style="
              direction: rtl;
              color: white;
              font-family: sans-serif;
              font-weight: 600;
              font-size: 1.25rem;
              margin-top: 10px;
              margin-bottom: 10px;
            "
          >
            أعطه اسماً :
          </h5>
          <input
            type="text"
            class="form-control form-control-dark"
            style="
              width: 97%;
              background-color: #303136;
              border: none;
              border-radius: 5px;
              color: white;
              margin-bottom: 20px;
            "
            placeholder="اسم الفريق..."
          />
          <ng-template pTemplate="footer">
            <p-button
              icon="pi pi-times"
              (click)="displayModal = false"
              label="رجوع"
              [style]="{
                width: '15vw',
                'background-color': '#970000',
                color: 'white',
                border: 'none',
                'font-family': 'sans-serif'
              }"
            ></p-button>
            <p-button
              icon="pi pi-check"
              (click)="displayModal = false"
              label="موافق"
              class="p-button-text"
              [style]="{
                width: '15vw',
                border: 'none',
                color: 'white',
                'background-color': '#005C97',
                'font-family': 'sans-serif'
              }"
            ></p-button>
          </ng-template>
        </p-dialog>
      </div>
    </div>

    <div class="gr-main">
      <div
        style="
          color: antiquewhite;
          font-size: 28px;
          text-align: right;
          direction: rtl;
          margin: 10px;
          margin-right: 50px;
          font-family: sans-serif;
        "
      >
        أعضاء مقترحون :
      </div>

      <!-- <div class="st">
<div style="background-color: red; width: 200px;
height: 200px; margin-right: 10px;" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]"></div>

      </div> -->

      <p-carousel
        [value]="this.studentService.students"
        [numVisible]="3"
        [numScroll]="3"
        [circular]="false"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-student pTemplate="item">
          <div class="recommended-student">
            <div style="display: flex; direction: rtl">
              <img
                src="../../../assets/images/profile.jpg"
                style="
                  border-radius: 50%;
                  width: 55px;
                  height: 55px;
                  margin-left: 15px;
                "
                alt="Avatar"
              />
              <p style="color: white; font-size: 18px; font-family: sans-serif">
                {{ student.userName }} <br /><span style="font-size: 15px; color: gray"
                  >مستوى التدريب متوسط</span
                >
              </p>
            </div>
            <ul dir="rtl">
              <li
                style="color: #9f9f9f; font-size: 15px; font-family: sans-serif"
              >
                بدأ بالتدريب منذ 2019
              </li>
              <li
                style="color: #9f9f9f; font-size: 15px; font-family: sans-serif"
              >
                تأهل للمسابقة العالمية 3 مرات
              </li>
              <li
                style="color: #9f9f9f; font-size: 15px; font-family: sans-serif"
              >
                جيد في ال math
              </li>
            </ul>
            <div
              class="btn btn-primary"
              style="width: 60%; border-radius: 10px"
              (click)="addStudent(student)"
            >
              إضافة
            </div>
          </div>
        </ng-template>
      </p-carousel>
      <div dir="rtl">
        <div style="display: flex; justify-content: space-between">
          <div
            class="d-flex flex-row justify-content-start"
            style="margin-top: 20px; margin-bottom: 20px"
          >
            <input
              type="text"
              class="form-control form-control-dark ft"
              placeholder="فلترة"
            />
            <input
              type="text"
              class="form-control form-control-dark search"
              placeholder="ابحث ..."
              aria-label="Search"
            />
          </div>
        </div>
      </div>

      <div class="lds-ring" *ngIf="this.studentService.gettingStudents">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div *ngIf="!this.studentService.gettingStudents">
        <div class="row" dir="rtl">
          <div
            class="column"
            *ngFor="let item of this.studentService.students; let i = index"
          >
            <div class="wrapper-grid">
              <div class="student-container">
                <div class="content">
                  <img
                    *ngIf="item.profilePhoto === null"
                    src="../../../assets/images/placeholder2.png"
                    style="
                      border-radius: 50%;
                      width: 100px;
                      height: 100px;
                      margin-left: 15px;
                      position: absolute;
                      top: -50px;
                      margin-left: auto;
                      margin-right: auto;
                      left: 0;
                      right: 0;
                      align-self: center;
                    "
                    alt="Avatar"
                  />
                  <img
                    *ngIf="item.profilePhoto != null"
                    src="{{ item.profilePhoto }}"
                    style="
                      border-radius: 50%;
                      width: 100px;
                      height: 100px;
                      margin-left: 15px;
                      position: absolute;
                      top: -50px;
                      margin-left: auto;
                      margin-right: auto;
                      left: 0;
                      right: 0;
                      align-self: center;
                    "
                    alt="Avatar"
                  />
                  <p
                    style="
                      color: white;
                      font-size: 22px;
                      font-family: sans-serif;
                    "
                  >
                  {{item.userName}}<br /><span
                      style="font-size: 18px; color: gray"
                      >مستوى التدريب متوسط</span
                    >
                  </p>
                  <div
                    class="btn btn-primary"
                    style="
                      width: 60%;
                      border-radius: 10px;
                      position: absolute;
                      bottom: 20px;
                      left: 0;
                      right: 0;
                      margin-left: auto;
                      margin-right: auto;
                      align-self: center;
                    "
                    (click)="addStudent('student')"
                  >
                    إضافة
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
