<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>
  </head>

  <body>
    <div class="gr-header">
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row">
          <div style="margin-left: 20%">
            <img
              src="assets/images/person.svg"
              *ngIf="this.studentService.me?.profilePhoto == null"
              width="45px"
              height="45px"
              style="border-radius: 30px"
              onmouseover="this.style.cursor='pointer'"
              (click)="
                this.studentService.gotoProfile(this.accountService.getMyId())
              "
            />
            <img
              [src]="this.studentService.me?.profilePhoto"
              *ngIf="this.studentService.me?.profilePhoto != null"
              width="45px"
              height="45px"
              style="border-radius: 30px"
              onmouseover="this.style.cursor='pointer'"
              (click)="
                this.studentService.gotoProfile(this.accountService.getMyId())
              "
            />
          </div>
        </div>
        <div style="display: flex; align-items: center">
          <div style="color: antiquewhite; font-size: 28px">الطلاب</div>

          <div class="dropdown">
            <div class="dropbtn"><i class="bi bi-list"></i></div>
            <div class="dropdown-content">
              <a
                [routerLink]="['/main-practice-page']"
                dir="rtl"
                routerLinkActive="router-link-active"
              >
                الرئيسية
              </a>
              <a
                [routerLink]="['/students']"
                dir="rtl"
                routerLinkActive="router-link-active"
                class="selected-btn"
              >
                الطلاب
              </a>
              <a
                [routerLink]="['/coaches/list']"
                dir="rtl"
                routerLinkActive="router-link-active"
                >المدربين
              </a>
              <a
                [routerLink]="['/practice-groups']"
                dir="rtl"
                routerLinkActive="router-link-active"
              >
                مجموعات التدريب
              </a>
              <a
                [routerLink]="['/dates']"
                dir="rtl"
                routerLinkActive="router-link-active"
                >المواعيد
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gr-menu">
      <div style="height: 40px; width: 40px">
        <img
          src="../../../assets/images/back-icon.svg"
          (click)="goback()"
          alt=""
          srcset=""
          onmouseover="this.style.cursor='pointer'"
        />
      </div>
      <a
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        style="text-decoration: none"
      >
        <div style="display: flex; flex-direction: column; align-items: center">
          <img
            src="../../../assets/images/logo.png"
            width="125px"
            height="auto"
            alt=""
            srcset=""
          />
          <div style="color: antiquewhite; font-size: 17px">
            المسابقة البرمجية السورية
          </div>
          <div style="color: dimgrey; font-size: 13px">
            Syrian Programming Contest
          </div>
        </div></a
      >
      <div class="bt-gr">
        <a
          [routerLink]="['/main-practice-page']"
          routerLinkActive="router-link-active"
        >
          <div
            class="col btn btn-rounded btn0"
            style="text-align: end; width: 100%"
          >
            الرئيسية
          </div>
        </a>
        <a [routerLink]="['/students']" routerLinkActive="router-link-active">
          <div
            class="col btn btn-rounded selected-btn"
            style="text-align: end; width: 100%"
          >
            الطلاب
          </div>
        </a>
        <a
          [routerLink]="['/coaches/list']"
          routerLinkActive="router-link-active"
        >
          <div
            class="col btn btn-rounded btn2"
            style="text-align: end; width: 100%"
          >
            المدربين
          </div></a
        >
        <a
          [routerLink]="['/practice-groups']"
          routerLinkActive="router-link-active"
        >
          <div
            class="col btn btn-rounded btn3"
            style="text-align: end; width: 100%"
          >
            مجموعات التدريب
          </div></a
        >
        <a [routerLink]="['/dates']" routerLinkActive="router-link-active">
          <div
            class="col btn btn-rounded btn4"
            style="text-align: end; width: 100%"
          >
            المواعيد
          </div></a
        >
      </div>
    </div>
    <div class="gr-main">
      <div class="st">
        <div class="st-item">
          <div
            style="display: flex; justify-content: center; width: 100%"
            *ngIf="this.statsService.gettingStats"
          >
            <p-progressSpinner></p-progressSpinner>
          </div>
          <p-knob
            [(ngModel)]="this.statsService.stats!.percentageOfNewParticipants"
            [size]="130"
            [readonly]="true"
            valueTemplate="{value}%"
            [min]="0"
            [max]="100"
            *ngIf="!this.statsService.gettingStats"
          >
          </p-knob>

          <h1 class="st-text" *ngIf="!this.statsService.gettingStats">
            نسبة الطلاب المشاركون أول مرة
          </h1>
        </div>
        <div class="st-item">
          <div
            style="display: flex; justify-content: center; width: 100%"
            *ngIf="this.statsService.gettingStats"
          >
            <p-progressSpinner></p-progressSpinner>
          </div>
          <img
            src="assets/images/placeholder2.png"
            class="st-image"
            *ngIf="!this.statsService.gettingStats"
          />
          <h1 class="st-text" *ngIf="!this.statsService.gettingStats">
            عدد الطلاب المتواجدون
            {{ this.statsService.stats!.numStudentsCurrentlyTraining }} طالباً
          </h1>
        </div>
        <div class="st-item">
          <div
            style="display: flex; justify-content: center; width: 100%"
            *ngIf="this.statsService.gettingStats"
          >
            <p-progressSpinner></p-progressSpinner>
          </div>
          <img
            src="assets/images/placeholder3.png"
            class="st-image"
            *ngIf="!this.statsService.gettingStats"
          />
          <h1 class="st-text" *ngIf="!this.statsService.gettingStats">
            عدد الفرق المسجلة {{ this.statsService.stats!.numOfTeams }} فريقاً
          </h1>
        </div>
      </div>

      <div dir="rtl">
        <div
          style="margin-top: 20px"
          style="margin-bottom: 20px; margin-right: 40px; display: flex"
        >
          <!-- <input
            type="text"
            class="form-control form-control-dark ft"
            placeholder="فلترة"
          /> -->
          <input
            #searchElement
            type="text"
            class="form-control form-control-dark search"
            placeholder="ابحث ..."
            aria-label="Search"
            (keyup.enter)="searchForStudent()"
            [(ngModel)]="searchString"
          />
        </div>
      </div>
      <div
        class="lds-ring"
        *ngIf="
          this.studentService.gettingStudents ||
          this.searchService.gettingSearchedStudents
        "
      >
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div
        *ngIf="
          !this.studentService.gettingStudents &&
          !this.searchService.gettingSearchedStudents
        "
      >
        <div
          class="students"
          style="display: grid; grid-template-columns: 50% 50%; direction: rtl"
        >
          <div
            class="student d-flex flex-row"
            *ngFor="let i of this.studentService.students"
            onmouseover="this.style.cursor='pointer'"
            dir="rtl"
            (click)="gotoProfile(i)"
          >
            <div
              class="d-flex flex-row justify-content-start"
              style="align-items: center"
            >
              <img
                *ngIf="i.profilePhoto != null"
                src="{{ i.profilePhoto }}"
                style="width: 60px; height: 60px; border-radius: 50%"
                alt=""
                srcset=""
              />
              <img
                *ngIf="i.profilePhoto == null"
                src="../../../assets/images/placeholder2.png"
                style="width: 60px; height: 60px; border-radius: 50%"
                alt=""
                srcset=""
              />
              <div>
                <div class="student-name">
                  {{ i.fullName }}
                </div>
                <div class="student-university">
                  {{ i.university ? i.university : "لم يتم تحديد الجامعة بعد" }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p-paginator
        [rows]="this.studentService.studentsItemsPerPage"
        [totalRecords]="this.studentService.studentsTotal"
        [style]="{ 'background-color': '#26282A' }"
        (onPageChange)="onPageChange($event)"
        *ngIf="!this.searchFlag"
      ></p-paginator>
    </div>
  </body>
</html>
