<div class="lds-ring" *ngIf="accountService.loggingIndicator"><div></div><div></div><div></div><div></div></div>
<div class="d-flex">
  <div class="gradient-curve">
    <div style="width: 50%; height: 100%">
      <div
        style="
          position: absolute;

          font-size: 3.5vw;
          direction: rtl;
          left: 5%;
          top: 10%;
          font-weight: 500;
          color: black;
        "
      >
        مرحبا بك في عالمنا !!!
      </div>
      <img
        src="../../../assets/images/computer.png"
        alt=""
        style="width: 60%; position: relative; left: 10%; top: 35%"
        srcset=""
      />
    </div>
  </div>
  <div class="login-form">
    <h1
      style="
        margin-top: 10%;
        margin-bottom: 10%;
        margin-right: 50px;
        color: #d2d3d7;
      "
    >
      الدخول
    </h1>
    <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off"  action="" dir="rtl">
      <!-- <input type="text" class="name-input" name="fullName" placeholder="" />
    <label for="fullName" style="color: wheat;">الاسم</label> -->


      <input
        type="username"
        id="Email"
        class="email-input"
        name="userName"
        placeholder="اسم المستخدم"
        autocomplete="off"
        [(ngModel)]="model.userName"

        />
      <input
      type="password"
        id="PassWord"
        class="password-input"
        name="PassWord"
        placeholder="كلمة السر"
        autocomplete="off"
        [(ngModel)]="model.password"

        />
        <br>
<div class="forget-pass">
  <a style="color: #7b7a7d">هل نسيت كلمة السر؟</a>

</div>
      <div
        style="
        margin-top: 50px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
        "
      >
        <button type="submit" class="btn btn-rounded btnn">الدخول</button>
        <a style="color: #7b7a7d; text-decoration: none;"  [routerLink]="['/register']">ليس لديك حساب؟ </a>
      </div>
    </form>
  </div>
</div>
