@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import  "../node_modules/primeicons/primeicons.css";
@import  "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import  "../node_modules/primeng/resources/primeng.min.css";
@import  "../node_modules/primeflex/primeflex.css";
body {
  background-color: #26282a;
}

.btn-dark-blue {
  padding-left: 40px;
  padding-right: 40px;

  background: #7474bf; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #348ac7,
    #7474bf
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #348ac7,
    #7474bf
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.btn-rounded {
  border-radius: 12px;
}
