<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700"
    />

    <title>Document</title>
  </head>

  <body>
    <div class="gr-header">
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row">
          <div style="margin-left: 20%">
            <img
              src="assets/images/person.svg"
              style="color: red"
              alt=""
              srcset=""
            />
          </div>

          <div style="margin-left: 20px">
            <img
              src="assets/images/notifications.svg"
              style="color: red"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <div style="display: flex; align-items: center">
          <div style="color: antiquewhite; font-size: 28px">الفرق</div>

          <div class="dropdown">
            <div class="dropbtn"><i class="bi bi-list"></i></div>
            <div class="dropdown-content">
              <a
                [routerLink]="['/main-practice-page']"
                dir="rtl"
                routerLinkActive="router-link-active"
              >
                الرئيسية
              </a>
              <a
                [routerLink]="['/students']"
                dir="rtl"
                routerLinkActive="router-link-active"
              >
                الطلاب
              </a>
              <a
                [routerLink]="['/coaches/list']"
                dir="rtl"
                routerLinkActive="router-link-active"
                >المدربين
              </a>
              <a
                [routerLink]="['/practice-groups']"
                dir="rtl"
                routerLinkActive="router-link-active"
              >
                مجموعات التدريب
              </a>
              <a
                [routerLink]="['/dates']"
                dir="rtl"
                routerLinkActive="router-link-active"
                >المواعيد
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="gr-menu">
      <div style="height: 40px; width: 40px">
        <img
          src="../../../assets/images/back-icon.svg"
          (click)="goback()"
          onmouseover="this.style.cursor='pointer'"
          alt=""
          srcset=""
        />
      </div>
      <div style="display: flex; flex-direction: column; align-items: center">
        <img
          src="../../../assets/images/logo.png"
          width="125px"
          height="auto"
          alt=""
          srcset=""
        />
        <div style="color: antiquewhite; font-size: 17px">
          المسابقة البرمجية السورية
        </div>
        <div style="color: dimgrey; font-size: 13px">
          Syrian Programming Contest
        </div>
      </div>
      <div class="bt-gr">
        <a
          [routerLink]="['/main-practice-page']"
          routerLinkActive="router-link-active"
        >
          <div
            class="col btn btn-rounded btn0"
            style="text-align: end; width: 100%"
          >
            الرئيسية
          </div>
        </a>
        <a [routerLink]="['/students']" routerLinkActive="router-link-active">
          <div
            class="col btn btn-rounded btn1"
            style="text-align: end; width: 100%"
          >
            الطلاب
          </div>
        </a>
        <a
          [routerLink]="['/coaches/list']"
          routerLinkActive="router-link-active"
        >
          <div
            class="col btn btn-rounded btn2"
            style="text-align: end; width: 100%"
          >
            المدربين
          </div></a
        >
        <a
          [routerLink]="['/practice-groups']"
          routerLinkActive="router-link-active"
        >
          <div
            class="col btn btn-rounded btn3"
            style="text-align: end; width: 100%"
          >
            مجموعات التدريب
          </div></a
        >
        <a [routerLink]="['/dates']" routerLinkActive="router-link-active">
          <div
            class="col btn btn-rounded btn4"
            style="text-align: end; width: 100%"
          >
            المواعيد
          </div></a
        >
      </div>
    </div>

    <div class="gr-main">
      <div class="lds-ring" *ngIf="this.gettingTeams">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="grid-container" *ngIf="!this.gettingTeams">
        <div class="group" *ngFor="let team of teams; let i = index">
          <h5 style="align-self: center">{{ team.name }}</h5>
          <div
            class="group-mem"
            onmouseover="this.style.cursor='pointer'"
            (click)="gotoProfile(team.coach.id)"
          >
            <img
              src="../../../assets/images/placeholder2.png"
              style="
                border-radius: 50%;

                width: 45px;
                height: 45px;
                border: 1px solid rgb(68, 68, 68);
              "
              alt=""
              srcset=""
            />

            <div style="color: white">{{ team.coach.fullName }}</div>
            <div style="color: grey">(مدرب)</div>
          </div>
          <div
            class="group-mem"
            *ngFor="let item of team.members"
            onmouseover="this.style.cursor='pointer'"
            (click)="gotoProfile(item.id)"
          >
            <img
              src="../../../assets/images/placeholder2.png"
              style="
                border-radius: 50%;

                width: 45px;
                height: 45px;
                border: 1px solid rgb(68, 68, 68);
              "
              alt=""
              srcset=""
            />
            <div style="color: white">{{ item.fullName }}</div>
          </div>
          <!-- <button class="btn btn-primary" style="width: 60%; border-radius: 10px;align-self: center;" *ngIf="i%2==0 || i%5==0">
            إسناد مهمة
          </button>
          <button disabled class="btn btn-primary"  style="width: 60%; border-radius: 10px;align-self: center; opacity: 0; " *ngIf="i%2!=0 && i%5!=0">
            إسناد مهمة
          </button> -->
        </div>
      </div>
    </div>
  </body>
</html>
