.gradient-curve {
  width: 100vw;
  height: 100vh;
  background: url("../../../assets/images/login.png") no-repeat;
  background-size: 50% 100%;
}
.login-form {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  width: 90%;
  margin-right: 50px;
}

.name-input {
  margin-bottom: 40px;
  padding: 5px;
  padding-right: 30px;
  color: white;
  border: none;
  outline: none;
  direction: rtl;
  border-bottom: #717171 solid 2px;
  background-color: #1e2021;
  background: url("../../../assets/images/login-person-grey.svg") no-repeat scroll;
  background-position-x: right;
  background-position-y: center;
  background-size: 20px 20px;
  width: 80%;
}

.name-input:focus {
  border-bottom: #d2d3d7 solid 2px;
  background: url("../../../assets/images/login-person.svg") no-repeat scroll;
  background-position-x: right;
  background-position-y: center;
  background-size: 20px 20px;
}

.email-input {
  margin-bottom: 40px;
  padding: 5px;
  padding-right: 30px;
  color: white;
  border: none;
  outline: none;
  direction: rtl;
  border-bottom: #717171 solid 2px;
  background-color: #1e2021;
  background: url("../../../assets/images/email-grey.svg") no-repeat scroll;
  background-position-x: right;
  background-position-y: center;
  background-size: 20px 20px;
  width: 80%;
}

.email-input:focus {
  border-bottom: #d2d3d7 solid 2px;
  background: url("../../../assets/images/email.svg") no-repeat scroll;
  background-position-x: right;
  background-position-y: center;
  background-size: 20px 20px;
}
.btnn {
  width: 35%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10%;
  background: #7474bf; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #348ac7,
    #7474bf
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #348ac7,
    #7474bf
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.password-input {
  margin-bottom: 20px;
  padding: 5px;
  padding-right: 30px;
  color: white;
  border: none;
  outline: none;
  direction: rtl;
  border-bottom: #717171 solid 2px;
  background-color: #1e2021;
  background: url("../../../assets/images/password-grey.svg") no-repeat scroll;
  background-position-x: right;
  background-position-y: center;
  background-size: 20px 20px;
  width: 80%;
}

.password-input:focus {
  border-bottom: #d2d3d7 solid 2px;
  background: url("../../../assets/images/password.svg") no-repeat scroll;
  background-position-x: right;
  background-position-y: center;
  background-size: 20px 20px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 20px;
  margin-right: 20px;
}
::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #d2d3d7;
}
::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-inner-circle {
  background-color: #d2d3d7;
}

@media (max-width: 800px) {
  .gradient-curve {
    display: none;
  }
  .login-form {
    left: 0;
    width: 100%;
  }
  form {
    width: 100%;
  }
  .name-input {
    width: 90%;
  }
  .email-input {
    width: 90%;
  }
  .password-input {
    width: 90%;
  }


}
